
<!DOCTYPE html>
<html>
<body>

<h1>Show </h1>

<form action="/action_page.php">
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> ll</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2"> I have a car</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> I have a boat</label><br><br>
  <input type="submit" value="Submit">
</form>
      <div class="content-wrapper">
    <div class="content">
      <div class="container-fluid">
        <div class="row">

          {% block body %}

          {% endblock body %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>